#imagen_grande{
    width: 500px;
    height: 400px;
    position: absolute;
    margin-top: 30px;
    right: 50%;
    background: #76ff03;
}
.imagenes{
    padding: 0;
    margin-right: 30px;
    list-style-type: none;
    float: right;
}
li .min{
    width: 150px;
    height: 200px;
    padding: 6px 20px 20px 6px;
}
li .max{
    visibility: hidden;
    margin-top: 30px;
    right: 50%;
    width: 550px;
    height: 400px;
    position: absolute;
    margin-left: 10px;
}

a:hover .max{
    visibility: visible;
    width: 500px;
    height: 400px;
    position: absolute;
    margin-top: 30px;
    right: 50%;
}
