<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <!--Import materialize.css-->
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="icon" type="image/png" href="{% static '/img/avatar-3774.jpg' %}" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block css %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="stylesheet" href="{% static 'fonts.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montez|Pathway+Gothic+One" rel="stylesheet">
     {% endblock %}
    </head>

    <body>
        <div class="contenedor">

      <header>
        <h1 class="title">Login</h1>
       <!-- <a href="">Registrate</a>-->
      </header>
      <div class="login">
        <article class="fondo">
          <img src="{% static 'img/men.jpg' %}" alt="User">
          <h3>Inicio de Sesión</h3>
          <form class="" action="" method="post">
              {% for field in f %}
            <div class="input-field col s12">
              <i class="material-icons prefix">{{field.icon}}</i>
             {{field}}
             <label for="icon_prefix">{{field.label_tag}}</label>
             </div>
              {% endfor %}
             {% csrf_token %}
            <input class="boton" type="submit" name="inicio" value="Iniciar Sesión">
          </form>
        </article>
      </div>

    </div>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for msg in messages %}
                M.toast({html: '{{msg.message}}', classes: 'rounded'});
                 {% endfor %}
                 });
        </script>
    </body>
</html>
